<% include ../partials/header %>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">Yelp Camp</p>
                <div class="list-group">
                    <li class="list-group-item">Address:
                    <li class="addressList"><h6 class="addressDisplay"><%=campground.city%>, <%=campground.state%><br>
                    <%=campground.zip%>
                    </h6></li>
                    </li>
                    <li class="list-group-item">Amenities:
                        <% for(var i=0; i<campground.amenities.length; i++){ %>
                        <li class="amenitiesDisplay"><%=campground.amenities[i]%></li>
                        <% } %>
                      </li>
                    <li class="list-group-item">Location</li>
                    <div id="map"></div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="thumbnail">
                
                    <img class="img-responsive" src="<%= campground.image %>">
                    <div class="caption-full">
                        <h4 class="pull-right">$<%= campground.price %>/night</h4>
                        <h4><a><%= campground.name %></a></h4>
                        <p><em>Submitted by <%= campground.author.username %></em></p>
                        <p><%= campground.description %></p>
                        <% if(currentUser && campground.author.id.equals(currentUser._id)) { %>
                            <a class="btn btn-xs btn-outline-warning edit" href="/campgrounds/<%=campground._id%>/edit">Edit </a><span>  |  </span>
                            <form class="delete-form" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-xs btn-outline-danger delete">Delete</button>
                            </form>
                        <% } %>
                    </div>
                </div>
                <div class="well">
                    <div class="text-right">
                        <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Leave A Review</a>
                    </div>
                    <hr>
                        <% campground.comments.forEach(function(comment) { %>
                        <div class="row">
                            <div class="col-md-12">
                                <strong><%= comment.author.username %></strong>
                                <span class="pull-right commentdate">created: <%= comment.date.toDateString() %></span>
                                <p>
                                    <%= comment.text %>
                                </p>
                                <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                                    <a class="btn btn-outline-warning btn-xs edit" href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit">Edit</a><span>  |  </span>
                                    <form class="delete-form" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                        <button class="btn btn-xs btn-outline-danger delete">Delete</button>
                                    </form>
                                <% } %>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>
        </div>
    </div>
    

    
                    
    
<% include ../partials/footer %>